{%extends 'base.html'%}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/postform.css' %}?{% now 'U' %}">
{% endblock %}


{% block content  %}
<div class="container mt-3">
  <div class="modal-dialog modal-sm" id="loader">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <div style="width: 5rem; height: 5rem;" class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
    </div>
    </div>
  <form class="" id="myform" action="{% url 'home:createpost' %}" method="post" enctype="multipart/form-data">
    <div class="form-control">
      {% csrf_token %}
      <label for="title">Post title: </label>
      <input type="text" name="title" value="" required><br>
      <textarea name="text" rows="9"  class="mt-1 text" required></textarea><br>
      <div class="input-group mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text" id="">images</span>
        </div>
        <input type="file" name="images" class="form-control" required multiple accept="image/png, image/gif, image/jpeg"/>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="">videos</span>
        </div>
        <input type="file" name="videos" class="form-control"   multiple accept="video/mp4, video/ogg, video/webm"/>
      </div>
      <button type="submit" value="submit" name="button" class="btn btn-primary mt-1" >submit</button>
    </div>
  </form>
</div>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      $("#myform").on("submit", function(){
        $("#loader").fadeIn();
      });//submit
    });//document ready
  </script>
{% endblock %}
