{%extends 'base.html'%}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/postform.css' %}?{% now 'U' %}">
{% endblock %}


{% block content  %}
<div class="container mt-3">
  <form class="" action="{% url 'home:createpost' %}" method="post" enctype="multipart/form-data">
    <div class="form-control">
      {% csrf_token %}
      <label for="title">Post title: </label>
      <input type="text" name="title" value=""><br>
      <textarea name="text" rows="9"  class="mt-1 text"></textarea><br>
      <div class="input-group mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text" id="">images</span>
        </div>
        <input type="file" name="images" class="form-control" multiple accept="image/png, image/gif, image/jpeg"/>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="">videos</span>
        </div>
        <input type="file" name="videos" class="form-control"   multiple accept="video/mp4, video/ogg, video/webm"/>
      </div>
      <button type="submit" name="button" class="btn btn-primary mt-1">submit</button>
    </div>
  </form>
</div>

{% endblock %}
