{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/postform.css' %}?{% now 'U' %}">
{% endblock %}


{% block content  %}
<div class="container mt-3">
  <div class="modal-dialog modal-sm" id="loader">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <div style="width: 5rem; height: 5rem;" class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
    </div>
    </div>
  <form class="" action="{% url 'home:posteditconfirm' post.id %}" id="myform" method="post" enctype="multipart/form-data">
    <div class="form-control">
      {% csrf_token %}
      <label for="title">Post title: </label>
      <input type="text" name="title" required value="{{post.title}}"><br>
      <textarea name="text" rows="9" required  class="mt-1 text">{{post.text}}</textarea><br>
      <div class="links mb-1" style="border-color:black;border-style:solid;border-width:1px;border-radius:5px;">
        <p class="ms-1">attached links:</p>
        <div class="content" id="content">

          <input type="url" class="ms-1" name="att_link"><br>
        </div>
        <button class="btn btn-primary mb-1 ms-1 mt-1" onclick="addField()" type="button" name="button">+</button>
      </div>
      <div class="input-group mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text" id="">media(images/videos)</span>
        </div>
        <input type="file" name="files" class="form-control" required multiple accept="image/png, image/gif, image/jpeg, video/mp4, video/ogg, video/webm "/>
      </div>
  </form>
  {% for link in links %}
    <div class="input-group mb-1">
      <div class="input-group-prepend">
        <a href="{% url 'home:deletelink' link.id %}" class="btn btn-outline-secondary">delete attached link</a>
      </div>
      <a  class="form-control" href="{{link.url}}">{{link.url}}</a>
    </div>
  {% endfor %}
  {% for image in images %}
  <div class="mt-3 mb-3">
    <img src="{{ image.image_max.url }}" alt="" style="max-width:100%;">
    {% if post.post_image_set.all|length != 1 %}
      <a href="{% url 'home:deleteimage' image.id %}" class="btn btn-danger">Delete image</a>
    {% endif %}
  </div>
  {% endfor %}
  {% for video in videos %}
  <div class="mt-3 mb-3">
    <video  controls style="max-width:100%;">
        <source src="{{ video.video.url }}" type="video/mp4" >
    </video>
    <a href="{% url 'home:deletevideo' video.id %}" class="btn btn-danger">Delete video</a>
  </div>
  {% endfor %}

</div>

<!-- Button trigger modal -->


<script type="text/javascript">
  function addField(){
    var div = document.getElementById('content');
    div.innerHTML += '<input type="url" class="ms-1 mt-1" name="att_link"><br>';
  }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#myform").on("submit", function(){
      $("#loader").fadeIn();
    });//submit
  });//document ready
</script>
<!-- Modal -->
{% endblock %}
